
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(20,20,20,1.00);
}
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout .Frame6 {
	position: absolute;
	left: 317px;
	top: 57px;
	width: 53.75%;
	height: 32px;
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout .Frame6 .Frame1 {
	position: relative;
	flex: none;
	width: 87px;
	height: 32px;
	display: flex;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(0,97,253,1.00);
	border-radius: 143px;
}
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout .Frame6 .Frame1 .CATEGORY {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 71px;
	height: 16px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.40625px;
}
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout .Frame6 .Frame8 {
	position: relative;
	flex: none;
	width: 67px;
	height: 32px;
	display: flex;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(0,97,253,1.00);
	border-radius: 143px;
}
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout .Frame6 .Frame8 .NATION {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 51px;
	height: 16px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.40625px;
}
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout .Frame6 .Frame9 {
	position: relative;
	flex: none;
	width: 68px;
	height: 32px;
	display: flex;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(0,97,253,1.00);
	border-radius: 143px;
}
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout .Frame6 .Frame9 .MOVIES {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 52px;
	height: 16px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.40625px;
}
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout .Frame6 .Frame10 {
	position: relative;
	flex: none;
	width: 109px;
	height: 32px;
	display: flex;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(0,97,253,1.00);
	border-radius: 143px;
}
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout .Frame6 .Frame10 .SERIESMOVIE {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 93px;
	height: 16px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.40625px;
}
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout .Frame6 .Frame11 {
	position: relative;
	flex: none;
	width: 78px;
	height: 32px;
	display: flex;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(0,97,253,1.00);
	border-radius: 143px;
}
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout .Frame6 .Frame11 .CINEMAS {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 62px;
	height: 16px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.40625px;
}
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout .Frame6 .Frame12 {
	position: relative;
	flex: none;
	width: 125px;
	height: 32px;
	display: flex;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(0,97,253,1.00);
	border-radius: 143px;
}
.DemoResponsiveAutoLayout_DemoResponsiveAutoLayout .Frame6 .Frame12 .COMMINGSOON {
	position: relative;
	flex: none;
	margin-right: 10px;
	width: 109px;
	height: 16px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.40625px;
}