
.DemoInputPasswordButton_DemoInputPasswordButton {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(20,20,20,1.00);
}
.DemoInputPasswordButton_DemoInputPasswordButton ._Password {
	position: absolute;
	left: 84px;
	top: 252px;
	width: 318px;
	height: 36px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(47,47,47,1.00);
	border-radius: 24px;
	border: none;
	outline: none;
	color: rgba(235,235,245,0.60);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 900;
	line-height: 16.40625px;
}
.DemoInputPasswordButton_DemoInputPasswordButton ._Input {
	position: absolute;
	left: 84px;
	top: 164px;
	width: 318px;
	height: 36px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(47,47,47,1.00);
	border-radius: 24px;
	border: none;
	outline: none;
	color: rgba(235,235,245,0.60);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 900;
	line-height: 16.40625px;
}
.DemoInputPasswordButton_DemoInputPasswordButton .Inputwithicon {
	position: absolute;
	left: 87px;
	top: 76px;
	width: 318px;
	height: 36px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(47,47,47,1.00);
	border-radius: 24px;
}
.DemoInputPasswordButton_DemoInputPasswordButton .Inputwithicon .icon {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 16px;
	height: 16px;
}
.DemoInputPasswordButton_DemoInputPasswordButton .Inputwithicon .icon .Vector {
	position: absolute;
	left: 1.486328125px;
	top: 1.48602294921875px;
	width: 81.33544921875%;
	height: 81.33773803710938%;
}
.DemoInputPasswordButton_DemoInputPasswordButton .Inputwithicon ._Input_1 {
	position: relative;
	flex: none;
	margin-right: 8px;
	width: 264px;
	height: 36px;
	background: transparent;
	border: none;
	outline: none;
	color: rgba(235,235,245,0.60);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 900;
	line-height: 16.40625px;
}
.DemoInputPasswordButton_DemoInputPasswordButton ._Button {
	position: absolute;
	left: 87px;
	top: 340px;
	width: 164px;
	height: 56px;
	display: flex;
	padding-top: 16px;
	padding-right: 18px;
	padding-bottom: 16px;
	padding-left: 18px;
	box-sizing: border-box;
	align-items: center;
	background: rgba(0,97,253,1.00);
	border-radius: 14px;
	border: none;
}
.DemoInputPasswordButton_DemoInputPasswordButton ._Button .ReviewNow {
	position: relative;
	width: 94px;
	height: 17px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.DemoInputPasswordButton_DemoInputPasswordButton ._Button .icon_1 {
	position: relative;
	width: 24px;
	height: 24px;
}
.DemoInputPasswordButton_DemoInputPasswordButton ._Button .icon_1 .Vector_1 {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 59.01641845703125%;
	height: 54.166666666666664%;
}