
.Desktop1_Desktop1 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(20,20,20,1.00);
}
.Desktop1_Desktop1 .CLICKCAROUSELITEMPAGE {
	position: absolute;
	left: 50%;
	top: 49.951171875%;
	transform: translate(-50%, -50%);
	width: 722px;
	height: 63px;
	color: rgba(255,122,0,1.00);
	font-family: Roboto;
	font-size: 54px;
	font-weight: 700;
	line-height: 63.28125px;
}